@mixin flex($direction, $justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: wrap;
    flex-direction: $direction;
}

@mixin flex2($direction, $justify, $align) {
    display: flex;
    justify-content: $justify;
    align-content: $align;
    flex-wrap: wrap;
    flex-direction: $direction;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


